{% load static %}
<html>
    <head>
        <title>
            Admin - controlpanel
        </title>
        <link rel = "icon" type = "image/png" href = "{% static 'adminpanel/img/blood-drop.png' %}">
        <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script> 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>
    <link href="{% static 'adminpanel/css/controlpanel.css' %}" rel="stylesheet">
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous"
  />
    <script src="{% static 'adminpanel/js/controlpanel.js' %}"></script>
    </head>
    <body>
        <div class="nav_bar">
            <div class="navimage">
                <img src="{% static 'adminpanel/img/blood-drop.png' %}" alt="drop">
            </div>
        <div class="navname">
            <h2>Blood Bank {{ request.session.admin_name }} </h2>
        </div>
        <div class="navbutton">
          <form action="logout" method="POST" >
            {% csrf_token %}
            <button onclick="">Log Out</button>
          </form>
          <button id="find_more">Find More</button>
          <!-- modal -->
          <div id="myModal" class="modal">
            <div class="model">
              <span onclick="fun()" class="close">&times;</span>
              <div class="modelBody">
                <div class="selectOne">
                  <select class="common" id="group">
                    <option selected disabled>SELECT BLOOD GROUP</option>
                    <option>A-</option>
                    <option>A+</option>
                    <option>B-</option>
                    <option>B+</option>
                    <option>AB-</option>
                    <option>AB+</option>
                    <option>O-</option>
                    <option>O+</option>
                  </select>
                </div>
                <div class="quantity">
                  <input class="quantityText common" type="number" value="" placeholder="Quantity in ML" id="total" >
                </div>
                <div class="quantity">
                  <button class="common btnSubmit" id="get_btn">SUBMIT</button>
                </div>
              </div>
            </div>          
          
          </div>
          <!-- modal end -->

        </div>
        
        </div>
        <div class="myUpdateTable">
            <form action="update" method="post" id="update_form"> 
                {% csrf_token %}
              <table class="table table-bordered table-dark">
                <thead>
                  <tr>
                    <th scope="col">Blood Group</th>
                    <th scope="col">Bag (100ml)</th>
                    <th scope="col">Bag (250ml)</th>
                    <th scope="col">Bag (400ml)</th>
                    <th scope="col">Bag (500ml)</th>
                    <th scope="col">Bag (600ml)</th>
                  </tr>
                </thead>
                <tbody id="tbody">
                  <!-- start -->
                  {% with j=0 %}
                  {% for bags_group in bloodbags %}
                  <tr>
                      {% with counter=forloop.counter %}
                     <td scope='col'>{{ bags_group.0.blood_group }}</td>
                     
                     {% for bag in bags_group %}
                        <td scope='col'>
                        <input disabled value='{{ bag.quantity }}' class='myinput' name="{{bag.id}}" type='number' />
                        </td>
                        
                     {% endfor %}
                     {% endwith %}
                  </tr>
                  {% endfor %}
                  {% endwith %}
                 
                </tbody>
              </table>
            <button type="submit" class="btn btn-secondary" id="save_btn">SAVE DATA</button>

            </form>
            <button
              type="button"
              id="btn_update"
              class="btn btn-secondary"
            >
              UPDATE DATA
            </button>
          </div>
          <div id="lat_lng_div">
            <input type="text" id="address" value="{{request.session.address}}">
            <input type="text" id="lati" value="{{request.session.lati}}">
            <input type="text" id="lngi" value="{{request.session.lngi}}">
          </div>
          <br>
          <hr class="hr">
          <h2 style=" text-align: center;
          color: #F38A8A;
          display: none;" >Location Of Other BloodBanks</h2>
          <div id="map"></div>
          <script>
            var map;
           var latitude =  Number($("#lati").val());
            var longitude = Number($("#lngi").val());
            var center = {lat: latitude, lng: longitude};
            var add = $("#address").val();
          //   var img = {
          //     url: "{% static 'adminpanel/img/blood-drop.png' %}",
          //     size :  new google.maps.Size(15, 20),
          //  }
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat :27.0278047,lng :75.8955757},
          zoom: 14
        });
        var marker = new google.maps.Marker({
          position : {lat :27.0278047,lng :75.8955757},
          map:map,
        });
        var markwindow  = new google.maps.InfoWindow({
          content : `<h5>${add}</h5>`
        });
        marker.addListener('click',function(){
          markwindow.open(map,marker)
        });

      }
          </script>
          <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVHC0B-6mFNuMk0lBnOmc-JIJojPxKc2Q&callback=initMap"
          async defer></script>
    </body>
    <script>
    </script>
</html>