{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
      rel="stylesheet"
    />


    <link href="{% static 'adminpanel/css/style.css' %}" rel="stylesheet">
   

    <title>Boond</title>
    <link rel = "icon" type = "image/png" href = "{% static 'adminpanel/img/blood-drop.png' %}">
  </head>
  <body>
    <header class="header">
      <div class="logo-box">
        <img class="logo" src="{% static 'adminpanel/img/blood-drop.png' %}" alt="logo" />
      </div>

      <div class="text-box">
        <h1 class="heading-primary">
          <span class="heading-primary-main">Boond</span>
          <span class="heading-primary-sub">Saving lives</span>
        </h1>

        <a href="/adminhome" class="btn btn-white btn-animated">For Blood Banks</a>
        <a href="/users" style="margin-left: 2rem;" class="btn btn-white btn-animated">For Users</a>
      </div>
    </header>
  </body>
</html>
